@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
:root {
  --easing: cubic-bezier(.2, 1, .2, 1);
  --transition: .8s var(--easing);
  --color-base: #f8f8f8;
  --color-gray: #ddd;
  --color-theme: #f5695f;
  --color-theme-darken: #f12617;
  --box-shadow: .8rem .8rem 1.2rem rgba(0, 0, 0, .05), -.8rem -.8rem 1.2rem #fff;
  --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, .08), -1rem -1rem 1.5rem #fff;
  --box-shadow-inset: inset .8rem .8rem 1.2rem rgba(0, 0, 0, .05), inset -.8rem -.8rem 1.2rem #fff;
  --box-shadow-dark: .8rem .8rem 1.2rem rgba(0, 0, 0, .1), -.8rem -.8rem 1.2rem rgba(#fff,.2);
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  scrollbar-width: none;
}

html {
  font-family: "Spartan", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
    "メイリオ", Meiryo, sans-serif;
  font-size: 62.5%;
  line-height: 1.8;
  height: 100%;
  word-break: break-word;
  color: #333;
  background-color: var(--color-base);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.pagelorder{
  position: abusolute;
  height: 100vh;
  width: 100vw;
  background-color: #36454f;
  z-index: 10000;
  animation: lordpage 3s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes lordpage {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}
@media only screen and (max-width: 599px) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background: var(--color-theme);
}

::selection {
  color: #fff;
  background: var(--color-theme);
}

img {
  border: 0;
  margin: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: block;
}

.l-inner {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10rem;
}
@media only screen and (max-width: 1024px) {
  .l-inner {
    padding: 0 4rem;
  }
}

.l-section {
  border-top: 1px solid #eee;
}
.l-section .l-inner {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media only screen and (max-width: 599px) {
  .pc-tab {
    display: none !important;
  }
}
/* design
------------------------------*/


.c-info {
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 4rem;
  margin-bottom: 6.4rem;
}
@media only screen and (max-width: 1200px) {
  .c-info {
    display: block;
    margin-top: 0;
    margin-bottom: 6.4rem;
  }
}
.c-info li {
  position: relative;
  padding-left: 16px;
}
.c-info li::before {
  position: absolute;
  top: 0.6em;
  left: 0;
  display: inline-block;
  width: 8px;
  height: 2px;
  content: "";
  background-color: var(--color-gray);
}
.c-info li + li {
  margin-top: 0.8rem;
}

.c-title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.6;
  display: inline-block;
  min-width: 32rem;
  margin-bottom: 6.4rem;
  vertical-align: top;
}
@media only screen and (max-width: 1200px) {
  .c-title {
    margin-bottom: 3.2rem;
  }
}
@media only screen and (max-width: 599px) {
  .c-title {
    min-width: 100%;
  }
}
.c-title [class*="ico-"] {
  font-size: 1.3rem;
  line-height: 1;
  display: block;
  width: 10rem;
  margin-bottom: 1.2rem;
  padding: 0.8rem 0 0.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  border-radius: 100px;
  background-color: var(--color-gray);
}
.c-title .ico-advanced {
  color: #fff;
  background-color: #333;
}

/* slider */
[class*="swiper"]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}
.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* 前へ / 次へボタン */
.swiper-button-prev,
.swiper-button-next {
  display: grid;
  place-content: center;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media only screen and (min-width: 1025px) {
  .swiper-button-prev::before,
  .swiper-button-next::before {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .swiper-button-prev:hover::before,
  .swiper-button-next:hover::before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.swiper-button-prev::before,
.swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: solid var(--color-gray);
  border-width: 3px 3px 0 0;
}
.swiper-button-prev::after {
  margin-left: 0.4rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.swiper-button-next::after {
  margin-right: 0.4rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

body {
  height: 100%;
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(161, 152, 152, 0.3)),
    url("/img/untitled-0.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.logo {
  position: absolute;
  top: 20px;
  left: 100px;
  z-index: 1001;
  a {
    color: #e2e2ee;
    text-decoration: none;
    font-family: "Cactus Classical Serif", serif;
    font-weight: 400;
    transition: letter-spacing 0.3s;
  }
  a:hover {
    letter-spacing: 0.05em; /* 字間の設定 */
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.3rem;
  opacity: 0.8;
  animation: bounce 2s infinite;
}

.content-area {
  position: absolute;
  height: auto;
  top: 10vh;
  left: 5vw;
  z-index: 1;
  div {
    transition: letter-spacing 0.3s;
  }
  div:hover {
    letter-spacing: 0.05em; /* 字間の設定 */
  }
}

.title {
  line-height: 1.3;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 500;
  font-size: 6vw;
  color: rgb(226, 226, 246);
}

#eye-title {
  h2 {
    font-weight: 600;
    color: antiquewhite;
    font-size: 40px;
    margin-bottom: 5px;
  }
}

hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-bottom: 20px;
}

.bg {
  height: 60vw;
  width: 100%;
  background: #36454f;
  display: flex;
}


.content {
  width: 100%;
  overflow-wrap: break-word;
  color: antiquewhite;
}

.content {
  h2 {
    font-size: 6rem;
  }
}

.content span {
  line-height: 40px;
}

.content_swiper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  height: 10vh;
  background-color: rgba(51, 51, 51);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.scroll_up {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
  will-change: transform, opacity; /* ブラウザに事前通知 */
}

.scroll_up.on {
  transform: translateY(0);
  opacity: 1;
}

.scroll_left {
  transition: 0.7s ease-in-out;
  transform: translateX(-50px);
  opacity: 0;
}

.scroll_left.on {
  transform: translateX(0);
  opacity: 1;
}

.scroll_right {
  transition: 0.5s ease-in-out;
  transform: translateX(50px);
  opacity: 0;
}

.scroll_right.on {
  transform: translateX(0);
  opacity: 1;
}

.scroll_circlar {
  transition: 0.5s ease-in-out;
  transform: translateX(100px);
  opacity: 0;
}
.scroll_circlar.on {
  transform: translateX(0vw);
  opacity: 1;
}

.scroll_line {
  transition: 0.5s ease-in-out;
  width: 0px;
  opacity: 0;
}

.scroll_line.on {
  width: 100px;
  opacity: 1;
}

.timing02 {
  transition-delay: 0.2s;
}
.timing03 {
  transition-delay: 0.4s;
}
.timing04 {
  transition-delay: 0.6s;
}
.timing05 {
  transition-delay: 0.8s;
}

text {
  fill: #e2e2ee;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  font-variant-ligatures: none;
  letter-spacing: 6px;
  animation: rotate 25s linear infinite;
  transform-origin: 250px 250px;
}

.svg_container {
  position: relative;
  height: 100%;
  width: 80%;
}

svg {
  position: absolute;
  height: 80vh;
  bottom: -15vh;
  z-index: 10;
}

#craftsman {
  height: 90%;
  width: 60%;
  object-fit: cover;
}

.photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-inner {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  position: relative;
  overflow: hidden;
}
.animation::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #36454f;
}

@keyframes showMask {
  100% {
    transform: translateX(100%);
  }
}

.animation.show::before {
  animation: showMask 2s ease-out forwards;
}

.shapedividers_com-6735 {
  overflow: hidden;
  position: relative;
  height: 120px;
  margin-bottom: -120px;
}

.shapedividers_com-6735::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  z-index: 3;
  position: absolute;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 90px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%2336454f"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%2336454f"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%2336454f"/></svg>');
}

.contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
  }
}

.contact-left-title {
  h2 {
    font-weight: 600;
    color: antiquewhite;
    font-size: 40px;
    margin-bottom: 5px;
  }
  hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-inputs:focus {
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
  color: #a9a9a9;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: aliceblue;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background-color: #ff994f;
  cursor: pointer;
}

.content-right {
  img {
    height: 80%;
  }
}

@media (min-width: 2100px) {
  .shapedividers_com-6735::before {
    background-size: 100% calc(2vw + 70px);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}

.textcircle {
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  transform-origin: 250px 250px;
}

svg:hover .textcircle {
  transform: scale(1.2) rotate(90deg);
}

@media screen and (max-width: 768px) {
  .logo {
    left: 20px;
  }

  .logo a {
    font-size: 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .bg {
    flex-direction: column;
    height: auto;
    min-height: 80vh;
  }

  .imgposi,
  .content {
    width: 100% !important;
  }

  .content-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .content {
    padding: 20px;
  }

  .content h2 {
    font-size: 2rem;
    line-height: 1.5;
  }
  .svg_container {
    display: none; /* スマホでSVGは邪魔 */
  }

  .photo {
    display: none;
  }

  #sewtec {
    width: 90vw;
    height: auto;
    padding: 30px 20px;
  }

  .contact-inputs {
    width: 80vw;
  }

  .contact-right {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 4vw;
  }

  .content h2 {
    font-size: 1.8rem;
    line-height: 80px;
  }

  #sewtec {
    width: 60vw;
    height: 40vh;
  }
}

.card05 {
  /* コンテナ */
  overflow: hidden;
  /* スライド */
  /* スライド ホバー時 */
}
.card05 .swiper {
  overflow: visible;
}
.card05 .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.card05 .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.card05 .slide {
  overflow: hidden;
  width: 36rem;
  border-radius: 4px;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 599px) {
  .card05 .slide {
    width: 24rem;
  }
}
@media only screen and (min-width: 1025px) {
  .card05 .slide {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .card05 .slide img {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .card05 .slide:hover {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
    -webkit-box-shadow: var(--box-shadow-hover);
    box-shadow: var(--box-shadow-hover);
  }
  .card05 .slide:hover img {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.card05 .slide-media {
  padding-top: 62.5%;
}
.card05 .slide-media img {
  height: calc(100% + 16px);
  -webkit-transform: translateY(-16px);
  transform: translateY(-16px);
}
.card05 .slide-content {
  padding: 3.2rem;
}
.card05 .slide-date {
  font-size: 1.2rem;
  line-height: 1;
  display: block;
  color: var(--color-theme);
}
.card05 .slide-title {
  line-height: 1.6;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3.2em;
  margin-top: 1.6rem;
}
@media only screen and (min-width: 1025px) {
  .card05 .swiper:hover .slide:not(:hover) {
    opacity: 0.3;
  }
}


