:root {
    --easing: cubic-bezier(.2, 1, .2, 1);
    --transition: .8s var(--easing);
    --color-base: #f8f8f8;
    --color-gray: #ddd;
    --color-theme: #f5695f;
    --color-theme-darken: #f12617;
    --box-shadow: .8rem .8rem 1.2rem rgba(0, 0, 0, .05), -.8rem -.8rem 1.2rem #fff;
    --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, .08), -1rem -1rem 1.5rem #fff;
    --box-shadow-inset: inset .8rem .8rem 1.2rem rgba(0, 0, 0, .05), inset -.8rem -.8rem 1.2rem #fff;
    --box-shadow-dark: .8rem .8rem 1.2rem rgba(0, 0, 0, .1), -.8rem -.8rem 1.2rem rgba(#fff,.2);
}
html{
    scrollbar-width: none;
    font-size: 62.5%;
    font-family: "Spartan", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
    "メイリオ", Meiryo, sans-serif;
    line-height: 1.8;
    height: 100%;
    word-break: break-word;
    color: #333;
    background-color: var(--color-base);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}
.logo {
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 1001;
    a {
        font-size: 3rem;
        color: #e2e2ee;
        text-decoration: none;
        font-family: "Cactus Classical Serif", serif;
        font-weight: 400;
        transition: letter-spacing 0.3s;
    }
    a:hover {
        letter-spacing: 0.05em; /* 字間の設定 */
    }
}
.pagelorder{
    position: abusolute;
    height: 100vh;
    width: 100vw;
    background-color: #36454f;
    z-index: 10000;
    animation: lordpage 2s ease-in-out forwards;
}

@keyframes lordpage {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}